// text-color
$text-color-base: #000000;
$text-color-primary: #fb5e3c;
$text-color-secondary: #ffffff;
$text-color-thirdary: #ebe9e9;
$text-color-quaternary: #fbb13c;

// background-color
$background-color-default-light: white;
$background-color-base: #fbf8f4;
$background-color-primary: #fb5e3c;
$background-color-secondary: #b8afda;
$background-color-thirdary: #fbb13c;
$background-color-default: black;
$background-color-quaternary: #191919;
$background-color-hover: rgba(52, 51, 51, 0.801);

// contrast colors
$text-contrast-orange: #f82d00;
$bg-contrast-orange: #f82d00;
$text-contrast-yellow: #ffa71c;
$bg-contrast-yellow: #ffa71c;
$bg-contrast-purple: #785edd;

// font-size
$font-size-thiny: 11px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-medium-2: 20px;
$font-size-large: 24px;
$font-size-xl: 32px;
$font-size-xxl: 36px;

$font-sile-heading-xl: 56px;
$font-size-heading-large: 48px;
$font-size-heading-l: 42px;

// font-family
$font-family-base: "Mulish", sans-serif;
$font-family-primary: "Montserrat", sans-serif;

// font - weight
$font-weight-thiny: 200;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
