@import "./abstracts/variables.scss";
@import "./abstracts/_mixins.scss";

.faq-page {
  background-color: $background-color-base;
  .faq {
    @extend %wrap;
    padding: 30px 0;

    h1 {
      color: $text-color-base;
      padding: 35px 0;
      margin-bottom: 10px;
      @extend %HeadlineL;
    }
    .accordion {
      .accordion-item {
        margin-bottom: 15px;
        background-color: $background-color-default-light;
        color: $text-color-base;
        border-radius: 30px;
        font-family: $font-family-primary;
        line-height: 2;
      }
      .accordion-header {
        padding: 25px 15px;
        cursor: pointer;
        @extend %display;
        background-color: $background-color-default-light;
        border-radius: 30px;
        font-family: $font-family-base;
        font-size: $font-size-medium-2;

        &:hover {
          background-color: $background-color-secondary;
        }
        h3 {
          @extend %HeadlineM;
          margin: 0;
        }
      }
      .accordion-content {
        padding: 0 20px 20px 20px;
      }
      .icon {
        transition: transform 0.3s ease;
        width: 30px;
        height: 30px;
      }

      .open {
        background-color: $background-color-secondary;
      }

      .accordion-header.open {
        background-color: $background-color-secondary;
      }
      .open .accordion-header,
      .open .accordion-content {
        background-color: $background-color-secondary;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
  }
}
